In [2]:
import pandas as pd
import numpy as np

# Reading csv in pandas.io.parsers.TextFileReader

In [3]:
data_2013_14_chunks = pd.read_csv('./Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv',
                                 chunksize=10000)

## Extracting a chunk

In [4]:
for chunk in data_2013_14_chunks:
    df = chunk
    break

In [5]:
df.shape

(10000, 51)

In [36]:
df.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df.to_csv("./dataset_subsets/2013-14_first_10000_v1.csv")

## Analyzing different fields to discern the fields to omit
#### NOTE: len(set()) does not give a valid result on fields with NaN values and counts every instance of NaN as a new value

In [16]:
for field_name in df:
    print(field_name," ; ",len(set(df[field_name]))," unique values")
    print(df[field_name].value_counts())
    print("-----------------------------")

Summons Number  ;  10000  unique values
1348782079    1
1311698255    1
1325195698    1
1347923287    1
1333716310    1
             ..
1340660374    1
1345782421    1
1341868692    1
1314271891    1
1334738944    1
Name: Summons Number, Length: 10000, dtype: int64
-----------------------------
Plate ID  ;  8722  unique values
44884      48
355969     15
4JS3927    14
41768JM    13
4EJ3315    13
           ..
55938MC     1
GDL6917     1
FDN1462     1
GBJ3972     1
78786JX     1
Name: Plate ID, Length: 8721, dtype: int64
-----------------------------
Registration State  ;  53  unique values
NY    6460
NJ     923
PA     607
99     251
CT     194
VA     184
FL     181
IL     139
TN     125
MA     121
CA      98
RI      90
MD      75
NC      71
GA      60
OK      60
SC      56
IN      53
OR      39
ME      26
TX      25
MI      15
MN      13
DE      12
WI      12
MS      11
NH      11
AL       9
GV       8
LA       8
OH       7
IA       7
KS       6
MO       6
CO       6
KY       4
ID       3
VT       3
NE       3
ON       2
AZ       2
WV       2
AK       2
NV       1
WA       1
DC       1
HI       1
AR       1
MT       1
NM       1
QB       1
NB       1
UT       1
Name: Registration State, dtype: int64
-----------------------------
Plate Type  ;  20  unique values
PAS    7041
COM    1879
SRF     616
999     269
OMT      48
OMS      44
MOT      28
MED      15
OML      12
OMR      11
TRC       9
DLR       7
SPO       6
TRL       4
PSD       3
IRP       3
ORG       2
SRN       1
SEM       1
RGL       1
Name: Plate Type, dtype: int64
-----------------------------
Issue Date  ;  142  unique values
07/30/2013    435
08/05/2013    381
07/29/2013    369
07/23/2013    365
07/31/2013    338
             ...
07/31/2014      1
07/30/2015      1
06/04/2013      1
08/09/2009      1
08/28/2013      1
Name: Issue Date, Length: 142, dtype: int64
-----------------------------
Violation Code  ;  67  unique values
21    1894
46    1366
14     987
20     745
40     634
      ...
56       1
5        1
29       1
55       1
8        1
Name: Violation Code, Length: 67, dtype: int64
-----------------------------
Vehicle Body Type  ;  86  unique values
SDN     4046
SUBN    2281
VAN     1269
DELV     782
TRLR     606
        ...
PLYM       1
HW         1
STWA       1
TRTC       1
VOLK       1
Name: Vehicle Body Type, Length: 85, dtype: int64
-----------------------------
Vehicle Make  ;  193  unique values
FORD     1251
HONDA     850
TOYOT     843
CHEVR     754
NISSA     725
         ...
SYM         1
STRIC       1
SOLEC       1
WORKV       1
UNK         1
Name: Vehicle Make, Length: 192, dtype: int64
-----------------------------
Issuing Agency  ;  10  unique values
P    6244
S    1672
X    1168
T     482
K     310
A      42
C      38
F      23
H      20
M       1
Name: Issuing Agency, dtype: int64
-----------------------------
Street Code1  ;  1612  unique values
0        2118
51090     102
59990      83
34330      75
26130      71
         ...
36770       1
22425       1
53130       1
49020       1
32700       1
Name: Street Code1, Length: 1612, dtype: int64
-----------------------------
Street Code2  ;  1741  unique values
0        1419
40404     976
10410     109
11110     100
25710      64
         ...
13460       1
60440       1
66690       1
39990       1
32900       1
Name: Street Code2, Length: 1741, dtype: int64
-----------------------------
Street Code3  ;  1725  unique values
0        1619
40404     976
11115     106
10510      74
25800      67
         ...
6280        1
63620       1
24695       1
74530       1
69630       1
Name: Street Code3, Length: 1725, dtype: int64
-----------------------------
Vehicle Expiration Date  ;  825  unique values
0           3540
20140228     215
20131031     183
20140430     171
20140331     168
            ...
20140126       1
20141228       1
20141131       1
20140901       1
20140124       1
Name: Vehicle Expiration Date, Length: 825, dtype: int64
-----------------------------
Violation Location  ;  201  unique values
75.0     866
40.0     668
47.0     489
110.0    467
13.0     349
        ...
2.0        1
152.0      1
86.0       1
85.0       1
117.0      1
Name: Violation Location, Length: 99, dtype: int64
-----------------------------
Violation Precinct  ;  100  unique values
75     866
40     668
47     489
110    467
13     349
      ...
86       1
85       1
2        1
97       1
21       1
Name: Violation Precinct, Length: 100, dtype: int64
-----------------------------
Issuer Precinct  ;  186  unique values
0      2222
75      551
40      547
110     386
171     374
       ...
875       1
12        1
84        1
156       1
827       1
Name: Issuer Precinct, Length: 186, dtype: int64
-----------------------------
Issuer Code  ;  2949  unique values
912126    195
941191    144
939715    138
943387    129
0         123
         ...
160530      1
928545      1
922406      1
160554      1
43105       1
Name: Issuer Code, Length: 2949, dtype: int64
-----------------------------
Issuer Command  ;  397  unique values
0075    551
0040    547
0171    374
0047    369
0420    354
       ...
BKN7      1
0156      1
BKN2      1
CITF      1
KNO8      1
Name: Issuer Command, Length: 397, dtype: int64
-----------------------------
Issuer Squad  ;  1  unique values
0    10000
Name: Issuer Squad, dtype: int64
-----------------------------
Violation Time  ;  1409  unique values
0840A    55
0815A    48
1140A    47
0845A    46
0810A    45
         ..
0406A     1
0507A     1
1221A     1
0751P     1
0048A     1
Name: Violation Time, Length: 1408, dtype: int64
-----------------------------
Time First Observed  ;  494  unique values
1100A    11
1000A    10
0730A     8
0100A     7
0940A     6
         ..
0204A     1
1008A     1
0742A     1
0323P     1
0104A     1
Name: Time First Observed, Length: 493, dtype: int64
-----------------------------
Violation County  ;  6  unique values
K     2810
Q     2647
BX    2310
NY    1743
R       92
Name: Violation County, dtype: int64
-----------------------------
Violation In Front Of Or Opposite  ;  4  unique values
F    6430
O    2318
I      65
Name: Violation In Front Of Or Opposite, dtype: int64
-----------------------------
House Number  ;  3522  unique values
1400       59
606        49
1          35
2520       31
100        27
           ..
158-04      1
155-64      1
41-06 C     1
241-02      1
78-17       1
Name: House Number, Length: 3521, dtype: int64
-----------------------------
Street Name  ;  4128  unique values
JAMAICA AVE            108
BROADWAY               104
QUEENS BLVD             79
3RD AVE                 62
E 149 ST                62
                      ...
W 142 ST                 1
SIDE OF 24 HUMBOLDT      1
I/O E 154 ST             1
FMCP BOATHOUSE           1
41 ROAD                  1
Name: Street Name, Length: 4127, dtype: int64
-----------------------------
Intersecting Street  ;  1037  unique values
JACOBI HOSPITAL         14
MEADOW LOOP             12
BOSTON RD               11
MEADOW LAKE             11
STANLEY AVE              9
                        ..
ROADWAY JFK              1
E/O HUTCHINSON RIV P     1
CRESCENT ST              1
CROTONA PKWY             1
200  N/O 135 ST          1
Name: Intersecting Street, Length: 1036, dtype: int64
-----------------------------
Date First Observed  ;  67  unique values
0           9574
20130722      24
20130731      23
20130802      21
20130730      19
            ...
20130609       1
20310801       1
20130818       1
20130630       1
20130826       1
Name: Date First Observed, Length: 67, dtype: int64
-----------------------------
Law Section  ;  1  unique values
408    10000
Name: Law Section, dtype: int64
-----------------------------
Sub Division  ;  60  unique values
D1    1950
F1    1244
C      934
D      746
J6     615
E2     585
C3     574
D5     328
K6     315
J3     281
F2     268
C4     234
K4     234
J2     202
F7     154
E1     142
N8     131
D3     105
E3      87
99      86
E5      85
K2      77
I4      76
J7      60
E9      55
I3      53
K5      45
K7      40
L2      32
D4      29
M1      27
A1      25
N1      20
F6      19
B       16
H1      11
H2      10
M2       9
C8       9
5        9
F3       9
F4       8
K1       7
M5       7
E4       5
L3       5
N5       4
J5       4
J4       3
E8       2
L4       2
P1       2
E6       1
J9       1
G2       1
D7       1
H0       1
C2       1
D6       1
Name: Sub Division, dtype: int64
-----------------------------
Violation Legal Code  ;  9997  unique values
0.0    4
Name: Violation Legal Code, dtype: int64
-----------------------------
Days Parking In Effect      ;  55  unique values
BBBBBBB    7484
YYYYYYB     510
BYBBYBB     407
YBBYBBB     403
YYYYYBB     291
YYYYYYY     162
BYBBBBB     148
YBBBBBB     129
BBBBYBB      97
BBBYBBB      87
BBYBBBB      69
YBYBYBB      43
BBBBBYB      30
BYBYBBB      17
BBBBBBY      14
BYBYBYB      12
YYBYYBB      10
BBBYYYY       7
YBYYBBB       6
YYYYBBB       5
YYBBBBB       5
YBBBYBB       5
BYBBYYB       5
BBYBBYB       4
YYBYBBB       4
BYYYYBB       3
BYYBBBB       3
BBBBYYY       3
BYYYYYY       3
BBBYYYB       2
BYYYYYB       2
YBYYYYB       2
YBBYYBB       2
BYBYYBB       2
YYBYYYB       2
BBYBYBB       2
YYYBYYB       2
YYYBYBB       1
YBBYBYB       1
BBBYYBB       1
BBYYBBB       1
YBBBBYY       1
YYYBBBB       1
BYBYBYY       1
BYYYBBB       1
BYYBYYB       1
YBYBBBB       1
BYYBYBB       1
YYBBYBB       1
BBYYYBB       1
YBYYYBB       1
YYYYBYB       1
BBBBYBY       1
BBBBBYY       1
BBYBBYY       1
Name: Days Parking In Effect    , dtype: int64
-----------------------------
From Hours In Effect  ;  49  unique values
ALL      7414
0800A     539
1130A     381
0830A     296
0730A     238
0700A     193
1100A     163
0900A     154
0930A     123
1200A     106
1100P      75
0900P      72
1200P      41
1000P      39
0400P      24
1000A      19
0300A      13
0200A      13
0600P      13
1030A      12
0600A      11
0800        6
1130P       5
0830        5
1130        4
0800P       4
0130A       3
0930        3
1200        2
0400A       2
0700        2
0900        2
1100        2
0700P       2
0300P       2
0100A       2
0936A       2
0200P       2
0000A       1
03          1
0850A       1
08P         1
2100A       1
1230P       1
0330A       1
0803A       1
0001A       1
1201A       1
0145A       1
Name: From Hours In Effect, dtype: int64
-----------------------------
To Hours In Effect  ;  58  unique values
ALL      7421
0100P     375
1000A     254
0800A     232
0700P     230
0830A     220
1230P     155
0930A     131
0600P     128
0600A     126
1100A     122
1030A     115
0300A      97
0900A      87
0500A      83
0130P      40
0400P      21
1200A      19
1000P      16
0500P      15
0800       10
0730A       8
0100        7
1200P       7
0800P       7
0100A       7
0700A       6
1230A       6
1200        5
0830        4
1100        4
0000A       4
0400A       3
0930        3
0930P       3
0900        2
1000        2
0200A       2
0130        2
1030        2
1300P       2
06          1
1130A       1
1230        1
0130A       1
0408A       1
1102A       1
2100A       1
1100P       1
0300        1
1700P       1
1220P       1
1159P       1
0300P       1
05A         1
0150P       1
1001A       1
0600        1
Name: To Hours In Effect, dtype: int64
-----------------------------
Vehicle Color  ;  122  unique values
WHITE    1753
BLACK     897
GY        637
BLUE      607
GRAY      553
         ...
PINK        1
BT          1
GD          1
YLW         1
PUR         1
Name: Vehicle Color, Length: 121, dtype: int64
-----------------------------
Unregistered Vehicle?  ;  1  unique values
0    10000
Name: Unregistered Vehicle?, dtype: int64
-----------------------------
Vehicle Year  ;  45  unique values
0       3793
2013     626
2012     458
2007     429
2003     420
2005     419
2004     416
2006     400
2010     343
2001     329
2008     318
2002     312
2011     302
2009     255
1999     209
1997     188
1998     165
1996     139
1995     111
1988      65
1994      59
1990      45
2014      37
1993      34
1992      24
1987      22
1991      21
1989      19
1986      16
1985       7
2015       3
1974       2
2021       2
1982       1
2068       1
2066       1
1971       1
2067       1
1979       1
1983       1
1977       1
2069       1
1981       1
1984       1
2020       1
Name: Vehicle Year, dtype: int64
-----------------------------
Meter Number  ;  21  unique values
-           9977
444-3036       1
208-9083       1
202-8516       1
113-7757       1
208-9112       1
408-1947       1
408-0213       1
202-8515       1
202-8521       1
301-3606       1
330-3007       1
371-3601       1
202-9197       1
208-9078       1
408-1893       1
498-1956       1
301-3609       1
301-3674       1
301-3601       1
Name: Meter Number, dtype: int64
-----------------------------
Feet From Curb  ;  12  unique values
0     9682
5       50
6       45
4       42
1       38
2       36
3       28
7       27
8       27
10      13
9        9
11       3
Name: Feet From Curb, dtype: int64
-----------------------------
Violation Post Code  ;  9997  unique values
0.0    4
Name: Violation Post Code, dtype: int64
-----------------------------
Violation Description  ;  10000  unique values
Series([], Name: Violation Description, dtype: int64)
-----------------------------
No Standing or Stopping Violation  ;  10000  unique values
Series([], Name: No Standing or Stopping Violation, dtype: int64)
-----------------------------
Hydrant Violation  ;  10000  unique values
Series([], Name: Hydrant Violation, dtype: int64)
-----------------------------
Double Parking Violation  ;  10000  unique values
Series([], Name: Double Parking Violation, dtype: int64)
-----------------------------
Latitude  ;  10000  unique values
Series([], Name: Latitude, dtype: int64)
-----------------------------
Longitude  ;  10000  unique values
Series([], Name: Longitude, dtype: int64)
-----------------------------
Community Board  ;  10000  unique values
Series([], Name: Community Board, dtype: int64)
-----------------------------
Community Council   ;  10000  unique values
Series([], Name: Community Council , dtype: int64)
-----------------------------
Census Tract  ;  10000  unique values
Series([], Name: Census Tract, dtype: int64)
-----------------------------
BIN  ;  10000  unique values
Series([], Name: BIN, dtype: int64)
-----------------------------
BBL  ;  10000  unique values
Series([], Name: BBL, dtype: int64)
-----------------------------
NTA  ;  10000  unique values
Series([], Name: NTA, dtype: int64)
-----------------------------

## Extracting second chunk for comaparison of certain fields

In [21]:
chunk_no = 1
for chunk in data_2013_14_chunks:
    if chunk_no == 2:
        df_2 = chunk
        break
    else:
        chunk_no +=1

In [23]:
df_2['Issuer Squad'].value_counts()

0    10000
Name: Issuer Squad, dtype: int64

In [29]:
df_2['Violation Post Code'].value_counts()

Series([], Name: Violation Post Code, dtype: int64)

## Extracting third, fourth and fifth chunk for comaparison of certain fields

In [25]:
chunk_no = 1
for chunk in data_2013_14_chunks:
    if chunk_no == 3:
        df_3 = chunk
    elif chunk_no == 4:
        df_4 = chunk
    elif chunk_no == 5:
        df_5 = chunk
        break
    else:
        chunk_no +=1

In [28]:
print(df_3['Issuer Squad'].value_counts())
# print(df_4['Issuer Squad'].value_counts())
# print(df_5['Issuer Squad'].value_counts())

Q    89
E    88
D    50
A    17
R    14
K    13
C     7
Name: Issuer Squad, dtype: int64

In [31]:
print(df_3['Violation Post Code'].value_counts())

04 6    37
C 77    33
MC 9    30
28 7    23
08 3    21
06 4    20
99 6    17
57-A    17
42 7    17
26 7    16
28 4    14
16 6    14
57 7     7
10 3     7
28 6     5
Name: Violation Post Code, dtype: int64

In [41]:
df['Violation Description'].value_counts()

Series([], Name: Violation Description, dtype: int64)

In [40]:
df_2['Violation Description'].value_counts()

Series([], Name: Violation Description, dtype: int64)

In [42]:
violation_desc = set()
violation_list = ['dui','dui','jumped red light','drove on sidewalk','dui']
violation_list1 = ['homicide','drove on sidewalk','di','jumped redlight']

violation_desc.add(violation_list)
violation_desc.add(violation_list1)

print(violation_desc)

TypeError: unhashable type: 'list'